<tr id="collapse<%= order.id %>" class="collapse article">
  <td colspan="7">
    <div id="table-wrapper">
      <div id="table-scroll">
        <table class="table table-bordered">
          <thead class="thead-dark">
            <tr>
              <th scope="col" class="quantity">Cantidad</th>
              <th scope="col">Descripcion</th>
              <th scope="col" class="details">Detalles</th>
              <th scope="col" class="bools-header">Procesado</th>
              <th scope="col" class="bools-header">Entregado</th>
              <th scope="col" class="bools-header">Facturado</th>
              <th scope="col" class="bools-header">Pagado</th>
            </tr>
          </thead>
          <tbody>
              <% order.articles.each do |article| %>
                <tr>
                  <td> <%= article.quantity %> </td>
                  <td> <%= article.description %> </td>
                  <td> <%= article.details %> </td>

                  <td class="bools"><%= check_box "article", "done", {:checked => article.done?, :disabled => true} %></td>
                  <td class="bools"><%= check_box "article", "delivered", {:checked => article.delivered?, :disabled => true }%></td>
                  <td class="bools"><%= check_box "article", "invoiced", {:checked => article.invoiced?, :disabled => true} %></td>
                  <td class="bools"><%= check_box "article", "payed", {:checked => article.payed?, :disabled => true} %></td>

                </tr>
              <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </td>
</tr>
