<div class="row justify-content-center">
  <h1 class"h1">Clientes</h1>
</div>
<div class="row justify-content-md-center">
<%= form_tag(clients_path, method: :get, class: "form-inline") do %>
<%= text_field_tag :term, params[:term], class: "form-control mr-sm-2" %>
<%= submit_tag 'Buscar', name: nil, class: "btn btn-outline-success my-2 my-sm-0" %>
<% end %>
</div>
<br>
<div>

  <table class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Cantidad de Pedidos</th>
        <th scope="col">Pedidos Pendientes</th>
      </tr>
    </thead>
    <tbody>
      <% @result.each do |client| %>
      <tr>
        <% if client.try(:name).present? %>
            <td>
              <%= link_to client.name, client %>
            </td>
            <td> <%= client.orders.count %> </td>
            <td> <%= client.orders_not_delivered.count %> </td>
        <% else %>
          <td>
            <%= link_to client.common_client, client %>
          </td>
          <td> 1 </td>
          <td>
            <% if (client.done? && client.delivered?) %>
              0
            <% else %>
              1
            <% end %>
          </td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
  <div class="row justify-content-center">
    <%= paginate @result %>
  </div>
</div>
