<div class="row justify-content-md-center">
    <h1 class"h1">Clientes</h1>
</div>
<hr>
<div>

  <table class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col" class="text-center">Cantidad de Pedidos</th>
        <th scope="col" class="text-center">Pedidos Pendientes</th>
      </tr>
    </thead>
    <tbody>
      <% @result.each do |client| %>
      <tr>
        <% if client.try(:name).present? %>
            <td>
              <h6>
                <%= link_to client.name, client %>
              </h6>
            </td>
            <td class="text-center"> <%= client.orders.count %> </td>
            <td class="text-center"> <%= client.orders_not_delivered.count %> </td>
        <% else %>
          <td>
            <h6>
              <%= link_to client.common_client, client %>
            </h6>
          </td>
          <td class="text-center"> 1 </td>
          <td class="text-center">
            <% if (client.done? && client.delivered?) %>
              0
            <% else %>
              1
            <% end %>
          </td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
  <div class="row justify-content-center">
    <%= paginate @result %>
  </div>
</div>
