<%= simple_form_for @order do |form| %>

<div class="form-group">
  <div class="row">
    <div class="col">
      <%= form.association :client, collection: Client.order('name ASC'), label: "Cliente", id:"client", class: "form-control mb-2 mr-sm-2" %>
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-outline-primary mb-2" data-toggle="modal" data-target="#new-client">
        Nuevo Cliente
      </button>
      <div id="common-client" style="display:none">
        <%= form.input :common_client, label: "Nombre del Cliente"  %>
      </div>
      <%= form.input :phone, label: "Telefono", class: "form-control" %>
      <%= form.input :phone_reference, label: "Referencia del telefono", class: "form-control" %>
    </div>
    <div class="col">
    <%= form.input :direction, label: "Direccion", class: "form-control" %>
    <%= form.association :area, label: "Zona", class: "form-control" %>
    <%= form.input :observations, label: "Observaciones", class: "form-control" %>
  </div>
</div>
<hr>
<div class="row">
  <div class="col">
    <%= form.association :priority, label: "Prioridad", selected: 1, class: "form-control" %>
  </div>
  <div class="col">
    <%= form.association :vendor, label: "Vendedor", class: "form-control" %>
  </div>
</div>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th></th>
        <th class="quantity">Cantidad</th>
        <th class="description">Descripcion</th>
        <th>Detalles</th>
        <th class="bools-header">
          Procesado
          <input type="checkbox" id="checkAllDone">
        </th>
        <th class="bools-header">
          Entregado
          <input type="checkbox" id="checkAllDelivered">
        </th>
        <th class="bools-header">
          Facturado
          <input type="checkbox" id="checkAllInvoiced">
        </th>
        <th class="bools-header">
          Pagado
          <input type="checkbox" id="checkAllPayed">
        </th>
        <th class="bools-header">
          Procesar
          <input type="checkbox" id="checkAllProcess">
        </th>
        <% if (current_user.has_role? :delivery) %>
          <th class="bools-header">
            En Camion
            <input type="checkbox" id="checkAllDelivery">
          </th>
        <% end %>
      </tr>
    </thead>

    <tbody class="articles">
      <%= form.simple_fields_for :articles do |form_builder| %>
        <%= render 'article_fields', f:  form_builder %>
      <% end %>
    </tbody>

  </table>

  <%= link_to_add_association "Agregar Articulo", form, :articles, class: "btn btn-outline-primary",
  data: { association_insertion_node: ".articles", association_insertion_method: :append } %>


  <br/>

  <div class="row justify-content-center">
    <%= form.button :submit, class: "btn btn-outline-success"  %>
  </div>
</div>

<% end %>

<%= render 'clients/new_client' %>
