<% if @order.articles.present? %>
  <% @order.articles.each do |article| %>
    <tr>
      <td> <%= sprintf("%g", article.quantity) %> </td>
      <td>
        <%= sprintf("%g", article.width) %>
        <% if(article.width_cm) %>
          cm
        <% end %>
      </td>
      <td>x</td>
      <td>
        <%= sprintf("%g", article.height) %>
        <% if(article.height_cm) %>
          cm
        <% end %>
      </td>
      <!-- Long could be nil so to prevent crash -->
      <% if(!article.long.nil?) %>
        <td>x</td>
        <td>
          <%= sprintf("%g", article.long) %>
        </td>
      <% else %>
        <td></td>
        <td></td>
      <% end %>
      <td> <%= article.description %> </td>

      <td><%= check_box "article", "done", {:checked => article.done?, :disabled => true} %></td>
      <td><%= check_box "article", "delivered", {:checked => article.delivered?, :disabled => true }%></td>
      <td><%= check_box "article", "invoiced", {:checked => article.invoiced?, :disabled => true} %></td>

    </tr>
  <% end %>
<% end %>
