<div class="container">
  <div class="row justify-content-between">
    <div class="col-4">
      <h5> Pedido N°: <%= @order.id %> </h5>
      <h5> Fecha: <%= @order.created_at.to_date.to_formatted_s(:iso8601) %> </h5>
      <h5> Cliente: <%= link_to @order.client.name, @order.client %> </h5>
      <h5> Telefono: <%= @order.phone %> </h5>
      <h5> Referencia del telefono: <%= @order.phone_reference %> </h5>
    </div>
    <div class="col-4">
      <h5> Zona: <%= link_to @order.area.name, @order.area %> </h5>
      <h5> Direccion: <%= @order.direction %> </h5>
      <h5> Observaciones: <%= @order.observations %> </h5>
      <h5> Vendedor: <%= @order.vendor.name %> </h5>
    </div>
  </div>
</div>
<hr>

<% if @order.articles.present? %>
  <table class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Piezas</th>
        <th scope="col">Ancho</th>
        <th>x</th>
        <th scope="col">Alto</th>
        <th>x</th>
        <th scope="col">Largo</th>
        <th scope="col" class="description">Descripcion</th>
        <th scope="col" class="details">Detalles</th>
        <th scope="col">Procesado</th>
        <th scope="col">Entregado</th>
        <th scope="col">Facturado</th>
      </tr>
    </thead>
    <tbody>
        <% @order.articles.each do |article| %>
          <tr>
            <td> <%= article.quantity %> </td>
            <td>
              <%= article.width %>
              <% if article.width_cm %>
                cm
              <% end %>
            </td>
            <td>x</td>
            <td>
              <%= article.height %>
              <% if article.height_cm %>
                cm
              <% end %>
            </td>
            <!-- Long could be nil so to prevent crash -->
            <% if !article.long.nil? %>
              <td>x</td>
              <td>
                <%= article.long %>
              </td>
            <% else %>
              <td></td>
              <td></td>
            <% end %>
            <td> <%= article.description %> </td>
            <td> <%= article.details %> </td>

            <td><%= check_box "article", "done", {:checked => article.done?, :disabled => true} %></td>
            <td><%= check_box "article", "delivered", {:checked => article.delivered?, :disabled => true }%></td>
            <td><%= check_box "article", "invoiced", {:checked => article.invoiced?, :disabled => true} %></td>

          </tr>
        <% end %>
    </tbody>
  </table>
<% end %>

<% if @order.common_articles.present? %>
  <table class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Piezas</th>
        <th scope="col" class="common-description">Descripcion</th>
        <th scope="col" class="details">Detalles</th>
        <th scope="col">Procesado</th>
        <th scope="col">Entregado</th>
        <th scope="col">Facturado</th>
      </tr>
    </thead>
    <tbody>
        <% @order.common_articles.each do |article| %>
          <tr>
            <td> <%= article.quantity %> </td>
            <td> <%= article.description %> </td>
            <td> <%= article.details %> </td>

            <td><%= check_box "article", "done", {:checked => article.done?, :disabled => true} %></td>
            <td><%= check_box "article", "delivered", {:checked => article.delivered?, :disabled => true }%></td>
            <td><%= check_box "article", "invoiced", {:checked => article.invoiced?, :disabled => true} %></td>

          </tr>
        <% end %>
    </tbody>
  </table>
<% end %>

<div class="row justify-content-center">
  <%= link_to "Imprimir", "#", onclick: "window.print();return false;", class:"btn btn-outline-success" %>
  &nbsp;
  <% if policy(@order).edit? %>
    <%= link_to "Editar", edit_order_path(@order), class:"btn btn-outline-primary" %>
  <% end %>
  &nbsp;
  <% if policy(@order).destroy? %>
    <%= link_to 'Eliminar', order_path(@order), class:"btn btn-outline-danger",
        method: :delete, data: { confirm: 'Estas seguro?' } %>
  <% end %>
</div>
