<h4> Pedido N°: <%= @order.id %> </h4>
<h5> Fecha: <%= @order.created_at.to_date.to_formatted_s(:iso8601) %> </h5>
<h6> Cliente: <%= @order.client.name %> </h6>
<% if (current_user.has_role?(:admin) || current_user.has_role?(:vendor))  %>
  <h6> Direccion: <%= @order.direction %> </h6>
  <h6> Telefono: <%= @order.phone %> </h6>
  <h6> Referencia del telefono: <%= @order.phone_reference %> </h6>
  <h6> Observaciones: <%= @order.observations %> </h6>
<% end %>
<hr>
<div class="row justify-content-center">
  <h6> Articulos: </h6>
</div>


<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Piezas</th>
      <th scope="col">Ancho</th>
      <th>x</th>
      <th scope="col">Alto</th>
      <th>x</th>
      <th scope="col">Largo</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Procesado</th>
      <th scope="col">Entregado</th>
      <th scope="col">Facturado</th>
    </tr>
  </thead>
  <tbody>
    <% if (current_user.has_role?(:admin) || current_user.has_role?(:vendor))  %>
      <%= render "vendor_show" %>
    <% else %>
      <%= render "worker_show" %>
    <% end %>
  </tbody>
</table>

<div class="row justify-content-center">
  <% if policy(@order).edit? %>
    <%= link_to "Editar", edit_order_path(@order), class:"btn btn-primary" %>
  <% end %>
  &nbsp;
  <% if policy(@order).destroy? %>
    <%= link_to 'Eliminar', order_path(@order), class:"btn btn-danger",
        method: :delete, data: { confirm: 'Estas seguro?' } %>
  <% end %>
</div>
