<%= simple_form_for @order do |form| %>

<div class="form-group">
  <h4> Pedido N°: <%= @order.id %> </h4>
  <h5> Fecha: <%= @order.created_at.to_date.to_formatted_s(:iso8601) %> </h5>
  <h5> Cliente: <%= @order.client.name %> </h5>
  <hr>
<% if @order.to_process.count >= 1 %>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Cantidad</th>
        <th>Ancho</th>
        <th class="measure">Alto</th>
        <th class="measure-long">Largo</th>
        <th>Descripcion</th>
        <th>Detalles</th>
        <th>Procesado</th>
        <th>Entregado</th>
      </tr>
    </thead>

    <tbody class="articles">
      <%= form.simple_fields_for :articles do |form_builder| %>
        <%= render 'worker_article_fields', f:  form_builder %>
      <% end %>
    </tbody>
  </table>
<% end %>

<% if @order.common_to_process.count >= 1 %>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="measure">Cantidad</th>
        <th class="common-description">Descripcion</th>
        <th>Detalles</th>
        <th>Procesado</th>
        <th>Entregado</th>
      </tr>
    </thead>

    <tbody class="common_articles">
      <%= form.simple_fields_for :common_articles do |form_builder| %>
        <%= render 'worker_common_article_fields', f:  form_builder %>
      <% end %>
    </tbody>

  </table>
<% end %>

  <br/>

  <div class="row justify-content-center">
    <%= form.button :submit, class: "btn btn-outline-success"  %>
  </div>
</div>

<% end %>
