<h4> Pedido N°: <%= @order.id %> </h4>
<h5> Fecha: <%= @order.created_at.to_date.to_formatted_s(:iso8601) %> </h5>
<h5> Cliente: <%= @order.client.name %> </h5>
<hr>

<% if @order.to_process.count >= 1 %>
  <table class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col" class="measure">Cantidad</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Detalles</th>
        <th scope="col" class="bools">Procesado</th>
        <th scope="col" class="bools">Entregado</th>
      </tr>
    </thead>
    <tbody>
        <% @order.to_process.each do |article| %>
          <tr>
            <td> <%= article.quantity %> </td>
            <td> <%= article.description %> </td>
            <td> <%= article.details %> </td>

            <td><%= check_box "article", "done", {:checked => article.done?, :disabled => true} %></td>
            <td><%= check_box "article", "delivered", {:checked => article.delivered?, :disabled => true }%></td>

          </tr>
        <% end %>

    </tbody>
  </table>
<% end %>

<div class="row justify-content-center">
  <% if policy(@order).edit? %>
    <%= link_to "Editar", edit_order_path(@order), class:"btn btn-outline-primary" %>
  <% end %>
</div>
