<%= simple_form_for @order do |form| %>

<div class="form-group">
  <h4> Pedido N°: <%= @order.id %> </h4>
  <h5> Fecha: <%= @order.created_at.to_date.to_formatted_s(:iso8601) %> </h5>
  <h5>
    Cliente:
    <% if (@order.common_client.present? && @order.client.name == "CONSUMIDOR FINAL") %>
      <%= @order.common_client %>
    <% else %>
      <%= link_to(@order.client.name, @order.client)%>
    <% end %>
  </h5>
  <hr>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="measure">Cantidad</th>
        <th>Descripcion</th>
        <th>Detalles</th>
        <th class="state-header">Estado</th>
      </tr>
    </thead>

    <tbody class="articles">
      <%= form.simple_fields_for :articles do |form_builder| %>
        <%= render 'worker_article_fields', f:  form_builder %>
      <% end %>
    </tbody>
  </table>

  <br/>

  <div class="row justify-content-center">
    <%= form.button :submit, class: "btn btn-outline-success"  %>
  </div>
</div>

<% end %>
