<div class="row justify-content-center">
  <h1 class"h1">Pedidos</h1>
</div>
<br>
<div>
  <div>
      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Cliente</th>
            <th scope="col">Fecha</th>
            <th scope="col">Procesado</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% if @orders.present? %>
            <% @orders.each do |order| %>
              <tr class=" <%= priority?(order.priority) %> ">
                <% if (order.common_client.present? && order.client.name == "Consumidor final") %>
                  <td> <%= order.common_client %> </td>
                <% else %>
                  <td> <%= order.client.name %> </td>
                <% end %>
                <td> <%= order.created_at.to_date.to_formatted_s(:iso8601) %> </td>

                <td><%= check_box "order", "done?", {:checked => order.done?, :disabled => true}%></td>

                <td>
                  <%= link_to "Ver", order_path(order) %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
      <%= paginate @orders %>
  </div>
</div>
