<div class="cart-item">
  <% if @delivery_items.size > 0 %>
    <table class="table table-bordered">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Cliente</th>
          <th scope="col">Zona</th>
          <th scope="col">Fecha</th>
          <th scope="col">Procesado</th>
          <th scope="col">Entregado</th>
          <th scope="col">Facturado</th>
          <th scope="col">Pagado</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% @delivery_items.each do |item| %>
          <tr>
            <% if (item.order.common_client.present? && item.order.client.name == "CONSUMIDOR FINAL") %>
              <td> <%= link_to item.order.common_client, item.order.client %> </td>
            <% else %>
              <td> <%= link_to item.order.client.name, item.order.client %> </td>
            <% end %>
            <td> <%= item.order.area.name %> </td>
            <td> <%= item.order.created_at.to_date.to_formatted_s(:iso8601) %> </td>

            <td><%= check_box "item.order", "done?", {:checked => item.order.done?, :disabled => true}%></td>
            <td><%= check_box "item.order", "delivered?", {:checked => item.order.delivered?, :disabled => true}%></td>
            <td><%= check_box "item.order", "invoiced?", {:checked => item.order.invoiced?, :disabled => true}%></td>
            <td><%= check_box "item.order", "payed?", {:checked => item.order.payed?, :disabled => true}%></td>

            <td>
              <%= link_to "Eliminar", item, remote: true, method: :delete, class: "btn btn-outline-danger" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p class="text-center">
      No hay Pedidios para repartir.
    </p>
  <% end %>
</div>
