<% if user_signed_in? %>
<% if policy(Order).new? %>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle <%= current_class?(orders_path) %>" href=" <% orders_path %> " id="navbarDropdown"
      role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Pedidos
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <%= link_to "Todos", orders_path, class: "dropdown-item" %>
      <%= link_to "Nuevo", new_order_path, class: "dropdown-item" %>
      <%= link_to "Proceso", worker_order_index_path, class: "dropdown-item" %>
    </div>
  </li>
  <% else %>
    <li> <%= link_to "Pedidos", orders_path, class: "nav-link #{current_class?(worker_order_index_path)}" %> </li>
  <% end %>

  <li class="nav-item">
  </li>
  <% if policy(Client).index?%>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle <%= current_class?(clients_path) %>" href=" <%= clients_path %> " id="navbarDropdown"
        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Clientes
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <%= link_to "Todos", clients_path, class: "dropdown-item" %>
        <%= link_to "Nuevo", new_client_path, class: "dropdown-item" %>
      </div>
    </li>
  <% end %>
  <% if policy(Area).index?%>
    <li class="nav-item">
      <%= link_to "Reparto", areas_path, class: "nav-link #{current_class?(areas_path)}" %>
    </li>
  <% end %>
  <% if policy(Note).index?%>
    <li class="nav-item">
      <%= link_to "Notas", notes_path, class: "nav-link #{current_class?(notes_path)}" %>
    </li>
  <% end %>
  <% if current_user.has_role? :admin %>
    <%= link_to "Admin", rails_admin_path, class: "nav-link" %>
  <% end %>
<% end %>
